use flake

export TF_VAR_porkbun_api_key=$(kwallet-query -r "Porkbun API Key" kdewallet)
export TF_VAR_porkbun_secret_key=$(kwallet-query -r "Porkbun Secret Key" kdewallet)

export AWS_DEFAULT_REGION=us-east-2
export AWS_ACCESS_KEY_ID=$(kwallet-query -r "AWS Access Key" kdewallet)
export AWS_SECRET_ACCESS_KEY=$(kwallet-query -r "AWS Secret Key" kdewallet)
